.app {
  &-main {
    width: 100%;
    height: 800px;
    background-color: #0f2f53;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    color: #fff;

    &-wrapper {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }

    &-col {
      float: left;
      margin: 0 auto;
    }

    &-col_1 {
      width:100%;
      margin: 0 auto;
    }

    &-col_2 {
      width:50%;
      margin: 10px auto;
    }

    &-h4 {
      margin-bottom: 30px;
    }

    &-hr {
      background-color: #fff;
      margin: 50px;
    }

    &-form{
      width: 100%;
      text-align: left;

      &-label {
        text-align: left;
        font-size: 13px;
      }

      &-input {
        height: 30px;
        border-radius: 10px;
        font-size: 10px;
        font-style: italic;
      }

      &-date_picker {
        font-style: italic;
        width: 90%;
        margin: 0 auto;
        font-size: 12px;
        color: #6c757d;
      }

      &-checkbox {
        margin-top: 20px;
        margin-right: 10px;
      }

      &-button {
        width: 50%;
        margin: 0 auto;
        border-radius: 10px;
      }

      &-button_color {
        background-color: #4d8778;
      }
    }
  }

  &-header {
    width: 100%;
    height: 60px;
    padding: 15px;
    letter-spacing: 1px;
    background-color: #4d8778;

    &-logo {
      width: 30px;
      height: 30px;
      position:fixed;
      left: 20px;
      cursor: pointer;
    }

    &-h2{
      position:fixed;
      left: 60px;
      margin-top: 5px;
      color: #fff;
      font-style: italic;
      font-size: 18px;
    }
  }

  &-footer {
    width: 100%;
    height: 60px;
    padding: 5px;
    background-color: #4d8778;
    position: fixed;
    bottom:0px;
    text-align: center;
    left: 0px;
    &-cite{
      color: #fff;
      font-size: 12px;
      letter-spacing: 2px;
    }
  }

}
