.app {
  //GENERAL
  //=====================================================
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;

  &-header {
    width: 100%;
    height: 60px;
    padding: 15px;
    position: fixed;
    letter-spacing: 1px;
    background-color: #4d8778;
    z-index: 3;

    &-logo {
      width: 30px;
      height: 30px;
      position: fixed;
      left: 20px;
      cursor: pointer;
    }

    &-h2 {
      position: fixed;
      left: 60px;
      margin-top: 5px;
      color: #fff;
      font-style: italic;
      font-size: 18px;
    }
  }

  &-footer {
    width: 100%;
    height: 60px;
    padding: 5px;
    background-color: #4d8778;
    position: fixed;
    bottom: 0px;
    text-align: center;
    left: 0px;

    &-cite {
      color: #fff;
      font-size: 12px;
      letter-spacing: 2px;
    }
  }

  //MAIN - GRID
  //=====================================================
  &-main {
    width: 100%;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background-color: #0f2f53;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    color: #fff;

    &-wrapper {
      width: 60%;
      margin: 0 auto;
      text-align: center;
    }

    &-col {
      float: left;
      margin: 0 auto;
      padding: 3px;
    }

    &-col_1 {
      width: 100%;
      margin: 0 auto;
    }

    &-col_2 {
      width: 50%;
      margin: 0 auto;
    }

    &-col_3 {
      width: 33.33%;
      margin: 0 auto;
    }

    &-col_4 {
      width: 25%;
      margin: 0 auto;
    }

    &-col_5 {
      width: 20%;
      margin: 0 auto;
    }

    &-col_6 {
      width: 16.666%;
      margin: 0px auto;
    }

    &-h4 {
      margin-bottom: 30px;
    }

    &-hr {
      background-color: #fff;
      margin: 50px;
    }

    &-p {
      text-align: left;
      font-size: 14px;
      margin-top: 35px;
    }

    // FORM
    //=====================================================
    &-form {
      width: 100%;
      text-align: left;

      &-label {
        text-align: left;
        font-size: 13px;
      }

      &-input {
        height: 30px;
        border-radius: 5px;
        font-size: 11px;
        font-style: italic;
        margin-right: 8px;
        margin-top: 4px;
        padding-left: 8px;
      }

      &-date_range_picker {
        font-style: italic;
        margin: 0 auto;
        font-size: 12px;
        color: #6c757d;
        margin-top: 2px;
        width: auto;
        font-style: italic;
        margin-right: 8px;
        border-radius: 5px !important;
        background-color: #F5F5F5;
        color: #0f2f53;
      }

      &-date_picker {
        font-style: italic;
        margin: 0 auto;
        height: 30px;
        font-size: 12px;
        color: #6c757d;
      }

      &-checkbox {
        margin-top: 30px;
        margin-right: 10px;
      }

      &-number {
        margin-right: 6px;
        width: 40px;
        height: 30px;
        margin-top: 27px;
        margin-bottom: 20px;
        text-align: right;
        border-radius: 5px;
        border: 1px solid #4d8778;
        font-size: 12px;
        font-style: italic;
      }

      &-btn_flights {
        margin-top: 3px;
      }

      &-button {
        width: 50%;
        margin: 0px auto;
        border-radius: 5px;
      }

      &-button_color {
        background-color: #4d8778;
      }

      &-background {
        background-color: rgba(6, 79, 117, 0.7);
        z-index: 2;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
      }

      &-flights {
        width: 60%;
        padding: 20px;
        padding-bottom: 50px;
        height: 30px;
      }
    }

    //FLIGHTCARD
    //=====================================================
    &-flightCard {
      height: 250px;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 16px;

      &-icon {
        width: 25px;
        height: 25px;
        margin: 8px 3px 8px 8px;
        background-repeat: no-repeat;

        &-title {
          color: #6c757d;
          margin-top: 14px;
          margin-right: 12px;
          font-size: 11px;
          text-align: left;
          font-style: italic;
        }

        &-plane {
          background-image: url(../img/plane.png)
        }

        &-ticket {
          width: 16px;
          height: 16px;
          background-image: url(../img/ticket.png)
        }
      }

      &-hr {
        width: 105px;
        background-color: #0f2f53;
        height: 2px;
        border: 1px solid #d81939;
        border-left: none;
        position: relative;
        top: 32px;
      }

      &-segment {
        padding-left: 130px;
      }

      &-legRow {
        padding-top: 30px;
      }

      &-leg {
        width: 120px;
        background-color: #6c757d;
        height: 2px;
        margin-left: 100px;
        margin-right: 100px;

        &-time {
          color: #000;
          font-size: 10px;
          margin-bottom: 4px;
        }

        &-type {
          margin-top: 4px;
          color: #000;
          font-size: 10px;
          font-weight: bold;
          font-style: italic;
        }
      }

      &-airportCode {
        color: #6c757d;
        font-size: 14px;
        margin-right: 8px;
        text-align: center;
      }


      &-airport {
        color: #6c757d;
        font-size: 11px;
        font-style: italic;
      }

      &-time {
        color: #000;
        font-size: 14px;
        font-variant: small-caps;
        margin-right: 8px;
        font-weight: bold;
      }

      &-pass {
        background-color: #F5F5F5;
        height: 250px;
        width: 200px;
        margin-top: -32px;
        position: relative;
        right: 20.5%;
        border-radius: 4px;
        display: inline-block;
        border-left: 2px #0f2f53 dotted;

        &-price {
          color: #0f2f53;
          font-size: 24px;
          text-align: right;
          display: inline;
          margin-right: -25px;
          position: relative;
          top: 125px;
        }

        &-btn {
          width: 80% !important;
          background-color: #4d8778;
          position: relative;
          bottom: -70px;
        }

        &-p {
          color: #0f2f53;
          text-align: right;
          font-size: 14px;
          font-style: italic;
          margin-right: 22px;
          position: relative;
          top: 126px;
        }

        //MEDIA QUERIES PASS
        //====================================================
        @media screen and (max-width:940px) {
          &-price {
            font-size: 20px;
          }
        }
      }

      //MEDIA QUERIES FlightCard
      //====================================================
      @media screen and (max-width:1480px) {

        &-segment {
          padding-left: 80px;
        }

      }

      @media screen and (max-width:1300px) {
        &-segment {
          padding-left: 60px;
        }

        &-leg {
          margin-left: 30px;
          margin-right: 30px;
        }
      }

      @media screen and (max-width:940px) {
        &-segment {
          padding-left: 30px;
        }
      }

      @media screen and (max-width:840px) {
        &-pass {
          right: 25%;
        }

      }

      @media screen and (max-width:700px) {
        &-segment {
          padding-left: 70px;
        }

        &-pass {
          display: none;
        }

        &-leg {
          margin-left: 40px;
          margin-right: 40px;

          &-time {
            font-size: 10px;
          }

          &-type {
            font-size: 10px;
          }
        }

        &-airportCode {
          font-size: 12px;
        }


        &-airport {
          font-size: 10px;
        }

        &-time {
          font-size: 12px;
        }
      }
    }

    //MEDIA QUERIES MAIN
    //====================================================
    @media screen and (max-width:1200px) {
      &-wrapper {
        width: 70%;
      }

    }

    @media screen and (max-width:840px) {
      &-wrapper {
        width: 90%;
      }

    }
  }
}